<div class="px-[250px] py-10">
  <div class="bg-[#003366] rounded-3xl overflow-hidden">
    <main class="py-10 px-10">
      <div class="block">
        <div class="text-center mb-6">
          <p class="text-4xl font-bold text-white">Tentang Kami</p>
        </div>
        <div class="flex mt-20">
          <div class="w-1/2 flex flex-col items-center">
            <p class="text-2xl font-semibold text-white">Fast Break</p>
            <p class="text-white text-[20px] text-justify">
              Fast Break merupakan jasa perawatan premium sepatu yang pertama di
              Yogyakarta, dan juga menjadi jasa perawatan premium sepatu pertama
              di Indonesia yang berbasis media sosial. Kami berkomitmen untuk
              memberikan layanan terbaik dan inovatif dalam merawat sepatu
              kesayangan Anda. Sejak berdiri pada tanggal 12 Oktober 2013 di
              Yogyakarta, Fast Break telah berkembang pesat dan kini memiliki 70
              workshop di 20 kota di seluruh Indonesia. Kami bangga menjadi
              pelopor dalam industri ini dengan mengintegrasikan teknologi dan
              media sosial untuk meningkatkan pengalaman pelanggan.
            </p>
          </div>
          <div class="w-1/2 flex justify-center">
            <img
              src="about/about.jpg"
              alt="Fast Break Family"
              class="w-auto h-[380px]"
            />
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
